<div class="sub-menu">
	<div class="content-sub">
		<h1>Anakot</h1>
		<p>Learn with video tutorails</p>
	</div>
</div>
<div class="content">
		<div class="large-12 columns">
			<div class="large-4 columns medium-4 columns">
				<div class="title"><span>Blog</span></div>
				<p><span><%= image_tag "1.blog.gif",size: "60" %></span>You will get something new from me about Web Design and Web Developer, All you need just login you will see what u want to learn and what you want to build. Come on try with me....</p>
				<p><%= link_to "View all blog »",root_path, style: "color:#991a1e;text-decoration:underline;" %></p>
			</div>
			<div class="large-4 columns medium-4 columns">
				<div class="title"><span>The video Training</span></div>
				<p><span><%= image_tag "2.media.jpg",size: "60" %></span>Everything you learn with this tutorails from <%= link_to "Anakot.", root_path,style: "color:#3598DC;" %> I hope u guys can did it after watch this tutorails.  And if you got a problem can contact with <%= link_to " Email.", root_path,style: "color:#3598DC;" %></p>
				<p><%= link_to "View all tutorails »",root_path, style: "color:#991a1e;text-decoration:underline;" %></p>

			</div>
			<div class="large-4 columns medium-4 columns">
				<div class="title"><span>Why learn Rails.</span></div>
				<p><span><%= image_tag "3.studya.jpeg",size: "54", style: "margin-right:5px;" %></span>Rails was created in 2003 by <small style="font-size:1em;color:#3598DC;">David Heinemeier Hansson.</small>Rails is a web application framework running on the Ruby programming language.</p>
				
			</div>
		</div>	
		
		<div class="large-12 small-12 columns" style="margin-top: 30px;">
			<div class="large-6 small-12 columns">
				<div class="title1"><span>Latest Blog Tutorails</span></div>
				<%= render "site/box2" %>
			</div>
			<div class="large-6 small-12 columns">
				<div class="title1"><span>Latest Training</span></div>
				<%= render "site/train2" %>
			</div>
		</div>
		<div class="large-12 columns" style="margin-top:30px;">
		<div class="large-12 columns">
			<div class="title1"><span>Recently Course</span></div>
		</div>
		</div>
</div>


